@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

.about_us_bg_image {
    background-image: url(/assets/images/breadkum-imgs.jpg);
    width: 100%;
    height: 45vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.about_us_bg_image h5 {
    color: white;
    font-size: 23px;
    font-weight: 700;
    font-family: "Rajdhani", sans-serif;

}

.about_us_bg_image p {
    color: white;
    font-size: 13px;

}

/* *********************** Card Section ******************* */

.card_section_first .icon {
    font-size: 60px;
    position: relative;
    top: 1.5rem;
    border: 3px solid #002e5a;
    width: fit-content;
    height: 85px;
    padding: 7px;
    border-radius: 50px;
    color: #002e5a;
    background-color: white;
    right: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 10;
    border-width: 5px 5px 5px 5px;

}

.card_section_first .card:hover .icon {
    color: #2bace7;
    border: 3px solid #2bace7;
    border-width: 5px 5px 5px 5px;
    transition: 1s;

}

.card_section_first .card {
    background-color: #002e5a;
    padding: 10px;
    border-radius: 15px;
    color: white;
    width: 300px;

}

.card_section_first .card:hover {
    background-color: #2bace7;
    transition: 1s;
}

.card_section_first .card .card-body {
    margin-left: -60px;
}

.card_section_first .card h4 {
    font-size: 18px;
    font-weight: 600;
}

.card_section_first .card p {
    font-size: 14px;
    margin: 5px;
}

/* ******************** two_side_image **************** */
.two_side_image h5 {
    color: #2bace7;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
}

.two_side_image h3 {
    font-family: "Rajdhani", sans-serif;
    font-weight: 800;
    font-size: 40px;
}

.two_side_image h3 span {
    color: #2bace7;
}

.two_side_image p {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.two_side_image h4 {
    color: #2bace7;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
}

.two_side_image .Read_More {
    padding: 15px;
    width: 150px;
    border: none;
    background-color: #2bace7;
    border-radius: 10px;
    color: white;
}

.two_side_image .Read_More:hover {
    background-color: #002e5a;
    color: white;
    transition: 1s;
}

.two_side_image .A_quote {
    padding: 15px;
    width: 150px;
    border: none;
    background-color: #002e5a;
    border-radius: 10px;
    color: white;
    margin-left: 40px;

}

.two_side_image .A_quote:hover {
    background-color: #2bace7;
    color: white;
    transition: 1s;
}

/* ************************* Discounts_section *********************** */

.Discounts_section h1 {
    color: #002e5a;
    font-family: "Rajdhani", sans-serif;
    font-size: 35px;
    font-weight: 700;


}

.Discounts_section h1 span {
    color: #2bace7;
}

.Discounts_section h6 {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: 20px;
}

/* ************** Counter *************** */
.counter-box span {
    font-size: 55px;
    font-weight: bold;
    position: relative;
    color: white;
    text-align: center;
    display: inline-block;
    font-family: "Rajdhani", sans-serif;

}

.counter-box h3 {
    color: #002e5a;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
}

.counter-box {
    position: relative;
    padding: 50px;
    text-align: center;

    /* bottom: 10rem; */
}

.counter {
    text-align: center;
    margin-top: 10px;
}

.counter {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    color: white;
    text-align: center;
    display: inline-block;
}

.counter-box_1 .container {
    background-color: #007bff;
    color: white;
    /* height: 245px; */
    border: 15px solid #98bcd1;
    border-radius: 10px;
}

.counter-box_1 .container .four {
    /* margin-top: 80px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.counter-box_1 .container .four1{
    background: url("/assets/images/H4-counter1.png") no-repeat center ;
    /* height: 100px; */
    
}
.counter-box_1 .container .four2{
    background: url("/assets/images/H4-counter2.png") no-repeat center ;
    /* height: 100px; */
    
}
.counter-box_1 .container .four3{
    background: url("/assets/images/H4-counter3.png") no-repeat center ;
    /* height: 100px; */
    
}
.counter-box_1 .container .four4{
    background: url("/assets/images/H4-counter4.png") no-repeat center ;
    /* height: 100px; */
    
}

@media (min-width:425px) {
    
}

/* ********************* GET A FREE ESTIMATE ******************/
.FREE_ESTIMATE h6 {
    color: #007bff;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 30px;
    margin-top: 10px;

}

.FREE_ESTIMATE h2 {
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    color: black;
    margin-left: 30px;

}

.FREE_ESTIMATE h2 span {
    color: #007bff;
}

.FREE_ESTIMATE p {
    margin-left: 30px;
    font-size: 14px;
}

/* ********************* GET_IN_TOUCH_Carousel ************* */
.GET_IN_TOUCH_Carousel img {
    width: 50%;
    border: 3px dotted #002e5a;
    padding: 10px;
    border-radius: 7px;
    text-align: center;
}

.GET_IN_TOUCH_Carousel .card {
    background: none;

}

.GET_IN_TOUCH_Carousel .card h3 {
    color: #002e5a;
    font-size: 21px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    margin-top: -40px;
}

.GET_IN_TOUCH_Carousel .card h3:hover {
    color: #007bff;
    transition: 1s;
    cursor: pointer;
}

.GET_IN_TOUCH_Carousel .card p {
    font-size: 14px;
    color: #002e5a;
    font-weight: 500;
}

.GET_IN_TOUCH_Carousel i {
    font-size: 40px;
    border: 3px solid white;
    position: relative;
    bottom: 3rem;
    background-color: #003a63;
    color: white;
    padding: 10px;
    border-radius: 50%;
}

.GET_IN_TOUCH_Carousel i:hover {
    background-color: #007bff;
    transition: 1s;
}

/* ********************* Last Portion ***************  */
.about_last_portion {
    background-image: url(/assets/images/milesim-bg.jpg);
    width: 100%;
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin-bottom: 30px;
}

.about_last_portion .Newsletter_email input {
    padding: 20px;
    width: 90%;
    border: none;
    border-radius: 10px;
    color: rgb(120, 116, 116);
    background-color: white;
    margin: 0 auto;
    outline: none;
}

.about_last_portion .Newsletter_email button {
    padding: 10px;
    align-items: center;
    display: flex;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    border: none;
    width: 150px;
    position: relative;
    right: 9rem;
}

.about_last_portion .Newsletter h1 {
    color: white;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
}

@media (min-width:425px) {
   

    .about_last_portion {
        height: 43vh !important;
    }
    .about_last_portion .Newsletter_email{
        text-align: center;
    }
    .about_last_portion .Newsletter_email input {
        padding: 10px;
        width: 100%;

    }
    .about_last_portion .Newsletter_email button {
        padding: 10px;
        font-size: 13px;
    }
}