.title_shape {
    background-image: url(/assets/images/title-shap.png);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;

}

.title_shape p {
    color: #2bace7;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;

}

.title_shape h3 {
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;

}

.title_shape h3 span {
    color: #2bace7;
}

/* *************** Pricing  Section ***************** */
.Pricing h2 {
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    color: #002e5a;
}

.Pricing h3 {
    color: #002e5a;
    font-weight: 600;
}

.Pricing h3 span {
    color: #2bace7;
    font-family: "Rajdhani", sans-serif;
}

.Pricing {
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        /* border: 1px solid #ddd; */
    }

    th,
    td {

        padding: 16px;
    }

    th {
        font-family: "Rajdhani", sans-serif;

    }

    th,
    td i {

        margin-left: 10px;
    }

    th:first-child,
    td:first-child {
        text-align: center;
    }

    .Titanium tbody {
        th {
            text-align: left;
        }

        td {
            text-align: left;
        }
    }



    .fa-check {
        color: #2bace7;
    }

    .fa-remove {
        color: red;
    }

    .Titanium {
        th {
            color: #2bace7;
            font-size: 19px;
            height: 115px;
        }

        h5 {
            font-family: "Rajdhani", sans-serif;
            color: #2bace7;
        }
    }

    .Platinum {
        background-color: #2bace7;

        th {
            color: white;
            font-size: 19px;
            height: 115px;
        }

        h5 {
            color: white;
        }

        .fa-check {
            color: white;
        }

    }


    .paltinum_span span {
        width: 51px;
        text-align: center;
        background-color: white;
        color: #2bace7;
        font-size: 16px;
        border: 3px solid #2bace7;
        border-radius: 50px;
        display: flex;
        height: 51px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 7rem;
        top: 1.2rem;
    }
}

.Gold_span span {
    width: 51px;
    text-align: center;
    background-color: white;
    color: #002e5a;
    font-size: 16px;
    border: 3px solid #002e5a;
    border-radius: 50px;
    display: flex;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 7rem;
    top: 1.2rem;
}

.Gold {
    background-color: #002e5a;

    th {
        color: white;
        font-size: 19px;
        height: 115px;
    }

    h5 {
        color: white;
    }

    .fa-check {
        color: white;
    }
}

.Silver {
    background-color: #2bace7;


    th {
        color: white;
        font-size: 19px;
        height: 115px;
    }

    h5 {
        color: white;
    }

    .fa-check {
        color: white;
    }
}


/* ******************* Pricing *********************** */
.icons_color i {
    color: #2bace7;
    border: 3px solid #2bace7;
    padding: 15px;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    font-size: 25px;
}

.icons_color i:hover {
    color: #002e5a;
    transition: 0.5s;
    border: 3px solid #002e5a;
}

.icons_color h5 {
    font-size: 16px;
    color: #002e5a;
    width: 70%;
    margin: 10px auto;

}

.Platinum td:hover {
    background-color: #002e5a;
    transition: 0.5s;
}

.Gold td:hover {
    background-color: #2bace7;
    transition: 0.5s;
}

.Silver td:hover {
    background-color: #002e5a;
    transition: 0.5s;
}

/* ************** company_car_logo*************** */
.company_car_logo .card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10x;
    width: 160px;
    height: 100px;
}

.company_car_logo .card img {
    width: 80px;
    margin: 0 auto;
    padding: 10px;
}

.company_car_logo .card .card-body {
    padding: 0px;
}

.company_car_logo .card .card-body h4 {
    font-size: 18px;
    color: #2bace7;
}