@import url("/assets/css/Services.css");

.main-section {
  background-image: url("/assets/images/testimonial.jpg");
  background-color: rgb(53, 53, 53, 0.4);
  background-blend-mode: multiply;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: auto;
}

.our-testmonial {
  background-image: url("/assets/images/our\ testimonial.png");
  height: 150px;
  width: auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 20px;

  .container {
    h5 {
      color: var(--primary-color);
    }

    h3 {
      color: var(--secondary-color);
    }

    span {
      color: var(--primary-color);
    }
  }
}
.row {
  --bs-gutter-x: -0.5rem;
}
body {
  background: aliceblue;
}

.gtco-testimonials {
  position: relative;
  margin-top: 30px;

  h2 {
    font-size: 30px;
    text-align: center;
    color: #333333;
    margin-bottom: 50px;
  }

  .owl-stage-outer {
    padding: 30px 0;
  }

  .owl-nav {
    display: none;
  }

  .owl-dots {
    text-align: center;

    span {
      position: relative;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      display: block;
      background: #fff;
      border: 2px solid #01b0f8;
      margin: 0 5px;
    }

    .active {
      box-shadow: none;

      span {
        background: #01b0f8;
        box-shadow: none;
        height: 12px;
        width: 12px;
        margin-bottom: -1px;
      }
    }
  }
}

.testimonial_carousel .card {
  padding: 0px;
  padding-bottom: 20px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 10px;
  max-width: 531px !important;
}

.testimonial_carousel i {
  color: #01b0f8;
}

.testimonial_carousel h3 {
  font-size: 30px;
  font-family: "Rajdhani", sans-serif;
}

.testimonial_carousel h3 span {
  font-size: 19px;
  color: #01b0f8;
  font-family: "Rajdhani", sans-serif;
}

.testimonial_carousel p {
  font-size: 16px;
  width: 90%;
  margin: 0 auto;
}