@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');


/* .footer_header {
    background-color: #1bb7ff;
    color: white;
} */

.footer_header a {
    text-decoration: none;
    color: white;
    line-height: 30px;
}

.footer_header h3 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: "Rajdhani", sans-serif;
    margin-bottom: 20px;

}

.footer_header a:hover {
    color: #003a63;
    transition: 0.5s;
}

footer .footer_header .col-lg-2 {
    background-color: #1bb7ff;
}


.footer_header {
    background-color: #1bb7ff;
}

.footer_header h4 {
    color: white;
}

.footer_header p {
    color: #1bb7ff;
}

.footer_header li {
    color: white;
    line-height: 30px;
}

.footer_header li:hover {
    color: #003a63;
    cursor: pointer;
    transition: 0.5s;
}

.footer_header li strong {
    margin: 10px;

}

.second_footer {
    background-color: #003a63;
    color: white;
}

.second_footer ul li:hover {
    color: #1bb7ff;
}